body {
  background-color: #f3e2e1;
  font-size:small;
  font-weight:bolder;
  font-family:'Courier New', Courier, monospace
}

h1 {
  color: rgb(1, 3, 5);
}

img{
  margin: 25px;
}

table {
  width: 100%;
  }
  td {
    border: 1px solid #777;
    padding: 10px;
  }
  td:first-child {
    width: 30%;
  }


